$fontSizes: (
    "xxs": 5px,
    "xs": 10px,
    "sm": 15px,
    "md": 20px,
    "lg": 25px,
    "xl": 30px,
    "xxl": 35px,
    "miniheading": 40px,
    "heading": 50px,
    "xheading": 60px,
    "xxheading": 70px,
    "superheading": 100px
);

$defDarkGrey: #5e5c5c;
$defGrey: rgba(200, 200, 200, 0.5);
$defGreen: #059c20;
$defLightGreen: #07db2d;
$defLighterGreen: #00ff2e;
$defYellow: #ffe603;
$defRed: #bd1330;
$defLightRed: #d91435;
$defLighterRed: #f20707;
$defGlowingRed: 0px 0px 15px rgba(247,72,101,0.5);
$defBlue: #144eba;
$defLightBlue: #0559f5;
$defLighterBlue: #0589f5;
$defGlowingBlue: 0px 0px 15px rgba(82,138,242,0.5);
$defRedBlue: linear-gradient(135deg, $defRed 35%, $defBlue 65%);
$defBlueRed: linear-gradient(135deg, $defBlue 35%, $defRed 65%);
$defRedBlueWhite: linear-gradient(135deg, $defRed 45%, white 45% 55%, $defBlue 55% 100%);
$defCorrect: linear-gradient(135deg, $defGreen 65%, $defLightGreen 65% 85%, $defLighterGreen 85%);
$defIncorrect: linear-gradient(135deg, $defRed 65%, $defLightRed 65% 85%, $defLighterRed 85%);

$defLighterShadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
$defLightShadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
$defShadow: 3px 3px 15px 1px rgba(0,0,0,0.3);
$defLightInnerShadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
$defInnerShadow: inset 3px 3px 15px 1px rgba(0,0,0,0.3);
$defTextShadow: 2px 2px 15px rgba(0, 0, 0, 0.30);
$defRedBlueShadow: -3px -3px 5px 1px $defRed, 3px 3px 5px 1px $defBlue;
$defGreenShadow: 3px 3px 15px 1px $defLightGreen;