$fontSizes: (
    "xxs": 5px,
    "xs": 10px,
    "sm": 15px,
    "md": 20px,
    "lg": 25px,
    "xl": 30px,
    "xxl": 35px,
    "miniheading": 40px,
    "heading": 50px,
    "xheading": 60px,
    "xxheading": 70px,
    "superheading": 100px
);

$defTextShadow: 2px 2px 15px rgba(0, 0, 0, 0.30);

$defRed: #df1c3d;
$defLightRed: #f2072f;
$defGlowingRed: 0px 0px 15px rgba(247,72,101,0.5);
$defBlue: #144eba;
$defLightBlue: #0559f5;
$defGlowingBlue: 0px 0px 15px rgba(82,138,242,0.5);
$defRedBlue: linear-gradient(135deg, $defRed 35%, $defBlue 65%);
$defBlueRed: linear-gradient(135deg, $defBlue 35%, $defRed 65%);
$defRedBlueWhite: linear-gradient(135deg, $defRed 45%, white 45% 55%, $defBlue 55% 100%);
$defDarkGrey: #3c3c3c;
$defGreen: #0fff03;
$defYellow: #ffe603;