@import "https://fonts.googleapis.com/css2?family=Nunito&display=swap";
@import "https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap";

@import "./variables";
@import "./mixins/main";

@function set-size($size) {
    @return map-get($fontSizes, $size);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, Calibri;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow: hidden;
}

img {
    pointer-events: none;
    user-select: none;
}

button {
    user-select: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid $defGrey;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
    background: $defGrey;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: solid 1px $defGrey;
}

::-webkit-scrollbar-thumb:hover {
    background: #bebebe;
}

::selection {
    color: white;
    background-color: $defLighterBlue;
}

@import "./pages/main";
@import "./components/main";