@import "https://fonts.googleapis.com/css2?family=Nunito&display=swap";
@import "https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap";

@import "./variables";
@import "./mixins/main";

@function set-size($size) {
    @return map-get($fontSizes, $size);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, Calibri;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    border-left: 1px solid $defBlue;
}

::-webkit-scrollbar-thumb {
    background: $defRed;
}

::-webkit-scrollbar-thumb:hover {
    background: $defLightRed;
}

::selection {
    color: $defLightBlue;
    background-color: $defLightRed50;
}

@import "./pages/main";
@import "./components/main";