.notes-dashboard {
    @include add-flex;
    height: 0;
    width: 100%;
    transition: 300ms;
    overflow: hidden;

    button {
        @include add-flex;
        gap: 10px;
        width: 50%;
        background-color: $defBlurBg;
        backdrop-filter: $defBlurFilter;
        border: none;
        border-radius: 20px;
        box-shadow: $defLighterShadow;
        cursor: pointer;
        margin: 10px;
        padding: 5px;
        transition: 300ms;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }

        &:hover {
            box-shadow: $defLightShadow;
        }

        img {
            height: 25px;
            width: 25px;
            object-fit: contain;
        }

        p {
            color: $defDarkGrey;
            font-size: set-size(md);
            text-transform: capitalize;
        }
    }
}