.complete-text-holder {
    @include add-flex(column);
    gap: 20px;
    width: 60%;
    margin: 20px 0;

    .interface {
        @include add-flex(column);
        gap: 20px;
        
        .complete-text-p {
            color: $defDarkGrey;
            font-size: set-size(lg);
            text-align: center;
            background-color: white;
            border: 3px solid $defGrey;
            border-radius: 20px;
            box-shadow: $defLightShadow;
            padding: 10px 15px;
        
            input {
                height: 40px;
                width: 100px;
                color: $defDarkGrey;
                text-align: center;
                font-size: set-size(lg);
                background-color: transparent;
                border: none;
                border-bottom: 2px dashed $defGrey;
                border-radius: 3px;
                outline: none;
                padding: 0 5px;
                transition: 300ms;
    
                &:hover {
                    border-bottom: 2px solid $defGrey;
                }
    
                &:focus {
                    border-bottom: 2px solid $defDarkGrey;
                }
    
                &::placeholder {
                    color: $defGrey;
                }
            }
            
            .complete-text-field {
                display: inline-block;
                height: 40px;
                min-width: 100px;
                color: $defGrey;
                font-size: set-size(lg);
                background-color: transparent;
                border: 2px solid transparent;
                border-bottom: 2px dashed $defGrey;
                border-radius: 3px;
                cursor: default;
                padding: 0 5px;
                white-space: nowrap;
                transition: 300ms;
            }

            .active-complete-text-field {
                border-bottom: 2px solid $defGrey;
            }

            .filled-complete-text-field {
                color: $defDarkGrey;
                cursor: pointer;
            }
        }
    
        .complete-text-word-bank {
            @include add-flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
        }

        .word-bank-option-holder {
            background-color: $defLightGrey;
            border-radius: 15px;
        }

        .word-bank-option {
            color: $defDarkGrey;
            font-size: set-size(md);
            background-color: white;
            border: 1px solid $defDarkGrey;
            border-radius: 15px;
            cursor: pointer;
            position: relative;
            top: 0;
            padding: 5px 10px;
            transition: 100ms;
        }

        .word-bank-option-selective:hover {
            box-shadow: $defLighterShadow;
            top: 5px;
        }
    }

    .hints-button {
        @include add-flex;
        gap: 10px;
        background-color: white;
        border: 3px solid $defGrey;
        border-radius: 20px;
        cursor: pointer;
        opacity: 0.5;
        padding: 5px 10px;
        transition: 300ms;

        &:hover {
            opacity: 1;
        }
        
        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
        }

        p {
            color: $defDarkGrey;
            font-size: set-size(lg);
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    .active-hints-button {
        opacity: 1;
        box-shadow: $defLightShadow;
    }
}