.connect-holder {
    @include add-flex;
    gap: 50px;

    .connect-button-holder {
        @include add-flex(column);
        gap: 10px;
        padding: 10px 0;

        @include multiple-choice-button;

        .multiple-choice-button {
            padding: 10px 15px;
        }
        
        .correct-button {
            background-color: $defLighterGreenRGB;
        }
        
        .wrong-button {
            background-color: $defLighterRedRGB;
        }
    }
}