.listen-holder {
    @include add-flex;
    width: 100%;
    margin: 10px;

    .interface {
        @include add-flex(column);
        gap: 15px;
        width: 80%;

        .speak-button {
            border-radius: 30%;
            padding: 10px;
            
            img {
                height: 50px;
                width: 50px;
            }
        }
    
        textarea {
            height: 155px;
            width: 80%;
            color: $defDarkGrey;
            font-size: set-size(lg);
            border: 3px dashed $defLightGrey;
            border-radius: 20px;
            box-shadow: $defLighterShadow;
            outline: none;
            resize: none;
            padding: 10px 15px;
            transition: 300ms;
    
            &:hover {
                border: 3px dashed $defDarkGrey;
            }
    
            &:disabled {
                border: 3px dashed $defLightGrey;
            }
    
            &:focus {
                border: 3px solid $defDarkGrey;
                border-radius: 20px;
                box-shadow: $defLightShadow;
            }
        }

        .cant-hear-button {
            color: $defLightGrey;
            font-size: set-size(xl);
            text-transform: uppercase;
            font-weight: bold;
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 10px 0;
            transition: 300ms;

            &:hover {
                color: $defGrey;
            }
        }

        .translate-holder-display {
            @include add-flex;
            gap: 10px;
            border: 1px solid $defDarkGrey;
            border-radius: 20px;
            padding: 10px;
    
            p {
                color: $defDarkGrey;
                font-size: set-size(lg);
                position: relative;
            }
        }
    }
}