* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    margin: 20px;
}

#hh3 {
    font-weight: normal;
}

table, td, th {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}
  
td, th {
    text-align: center;
    padding: 8px;
}

#firstColumn {
    width: 250px;
    background-color: #c9daf8;
}

#secondColumn {
    width: 350px;
    background-color: #c9daf8;
}

.box {
    padding: 20px;
    border: 2px solid black;
    width: 285px;
    display: inline-flex;
}

.box p {
    padding: 0px 10px;
}

input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 20px;
    text-align: center;
    font-size: 16px;
}

.bottom {
    position: absolute;
    padding: 30px;
    background-color: red;
}

.finishButton {
    padding: 10px;
    float: left;
}

.points {
    float: right;
}