.exercises-info {
    @include add-flex(column, flex-start);
    width: 55%;
    position: relative;
    transform: scale(1);
    overflow: auto;

    @include interactive-title(70px);

    .mini-title span {
        font-size: set-size(miniheading);
    }

    p {
        color: $defDarkGrey;
        font-size: set-size(md);
        text-align: center;
        padding: 10px 30px;
    }
}