#exercises {
    height: 100vh;
    background-color: white;
}

main {
    @include add-flex(row, center, flex-start);
    height: calc(100% - 65px);
    position: relative;

    section {
        @include add-flex(column, flex-start);
        height: 100%;
    }

    @import "./exercise-modal/main";
    @import "./exercise-info";
    @import "./exercise-holder";
}