@mixin classic-button {
    button {
        color: white;
        font-size: set-size(lg);
        font-weight: bold;
        text-transform: capitalize;
        background-color: $defGreen;
        border: none;
        cursor: pointer;
        margin-top: 30px;
        padding: 10px 20px;
        transition: 300ms;

        &:hover {
            color: white;
            background-color: $defLightBlue;
            box-shadow: $defLightShadow;
        }
    }
}