@mixin exercise {
    .exercise {
        @include add-flex;
        height: 180px;
        width: 180px;
        cursor: pointer;

        .exercise-border {
            @include add-flex;
            height: 180px;
            width: 180px;
            background: $defRedBlueWhite;
            border-radius: 50%;
            box-shadow: $defShadow;
            position: absolute;
            transform: rotate(0);
        }
        
        .exercise-content {
            @include add-flex;
            height: 165px;
            width: 165px;
            background-color: white;
            border-radius: 50%;
            box-shadow: $defInnerShadow;
            cursor: inherit;
            position: absolute;
            transition: 300ms;

            img {
                height: 90px;
                width: 90px;
                object-fit: contain;
                filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
                transition: 150ms;
            }
        }

        &:hover .exercise-content {
            height: 155px;
            width: 155px;
        }
    }

    .exercise-clone {
        height: 100px;
        width: 100px;
        cursor: default;

        .exercise-border {
            height: 100px;
            width: 100px;
            background: $defLightRedBlueWhite;
            box-shadow: $defLightShadow;
        }
        
        &:hover .exercise-border {
            transform: rotate(0);
        }

        .exercise-content {
            height: 85px;
            width: 85px;
            transform: rotate(0);

            img {
                height: 50px;
                width: 50px;
            }
            
            .interactive-title span {
                font-size: set-size(heading);
            }
        }

        &:hover .exercise-content {
            height: 85px;
            width: 85px;
        }
    }

    #active-exercise .interactive-title span,
    .exercise-clone .interactive-title span {
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

        &:first-child {
            color: $defLightRed;
            top: -7px;
            left: -5px;
            z-index: 2;
            text-shadow: $defGlowingRed;
        }

        &:last-child {
            color: $defLightBlue;
            top: 7px;
            left: 7px;
            z-index: 1;
            text-shadow: $defGlowingBlue;
        }
    }
}