@mixin flag-button {
    .flag-button {
        color: $defBlue;
        font-size: set-size(xl);
        font-weight: bold;
        text-transform: uppercase;
        background: linear-gradient(-45deg, $defBlue 35%, white 35% 65%, $defRed 65%);
        background-position-x: 0;
        border: 1px solid $defBlue;
        border-radius: 30px;
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px 0;
        transition: 300ms;
    
        &:hover {
            color: white;
            background-position-x: 450px;
        }
    }

    .disabled-flag-button {
        cursor: default;
        opacity: 0.5;

        &:hover {
            color: $defBlue;
            background-position-x: 0;
        }
    }
}