@mixin flag-button {
    .flag-button {
        color: white;
        background-color: $defBlue;
        font-size: set-size(xl);
        font-weight: bold;
        text-transform: uppercase;
        background-position-x: 0;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px 0;
        transition: 300ms;
    
        &:hover {
            text-shadow: white 0px 0px 2px;
            background-color: $defLightBlue;
        }
    }

    .disabled-flag-button {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            text-shadow: none;
            background-color: $defDarkRed;
        }
    }
}