.arrow-button {
    @include add-flex;
    height: 100px;
    width: 100px;
    background: linear-gradient(-45deg, $defBlue 35%, white 35% 65%, $defRed 65%);
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: $defLightShadow;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    transition: 300ms;

    &:hover {
        background: linear-gradient(-45deg, $defLightBlue 35%, white 35% 65%, $defLightRed 65%);
        box-shadow: $defShadow;
    }

    img {
        height: 50px;
    }
}