.arrow-button {
    @include add-flex;
    height: 100px;
    width: 100px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: $defInnerShadow;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    transition: 300ms;

    &:hover {
        background-color: rgb(200, 200, 200);
        box-shadow: $defLightInnerShadow;
    }

    img {
        height: 50px;
    }
}