.diacritic-keyboard {
    @include add-flex(row, flex-start);
    gap: 20px;
    width: 80%;
    transition: 300ms;

    div {
        @include add-flex;
        gap: 10px;

        button {
            @include add-flex;
            height: 45px;
            width: 45px;
            color: $defDarkGrey;
            font-size: set-size(md);
            background-color: transparent;
            border: 2px solid $defLightGrey;
            border-radius: 15px;
            cursor: pointer;
            position: relative;
            top: 0;
            padding: 5px 10px;
            transition: 300ms;

            &:hover {
                border: 2px solid $defDarkGrey;
                box-shadow: $defLighterShadow;
            }
        }
    }

    .diacritic-keyboard-letters {
        width: 250px;
    }
}