.interactive-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0;

    span {
        color: white;
        font-size: 120px;
        text-transform: capitalize;
        font-weight: bold;
        white-space: nowrap;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        cursor: default;
        transition: text-shadow .25s, color .25s, top .25s, left .5s, z-index .5s;
        user-select: none;
        z-index: 3;

        &:first-child,
        &:last-child {
            position: absolute;
        }

        &:first-child {
            color: $defRed;
            top: -5px;
            left: -3px;
            z-index: 1;
        }

        &:last-child {
            color: $defBlue;
            top: 5px;
            left: 5px;
            z-index: 2;
        }
    }

    &:hover span {
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

        &:first-child {
            color: $defLightRed;
            top: -7px;
            left: -5px;
            z-index: 2;
            text-shadow: $defGlowingRed;
        }

        &:last-child {
            color: $defLightBlue;
            top: 7px;
            left: 7px;
            z-index: 1;
            text-shadow: $defGlowingBlue;
        }
    }
}