.modal-options {
    @include add-flex;
    gap: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    
    .modal-x {
        @include add-flex;
        height: 40px;
        width: 40px;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        transition: 300ms;
        
    
        &::before,
        &::after {
            content: "";
            display: block;
            height: 5px;
            width: 100%;
            position: absolute;
            transition: 300ms;
        }
    
        &::before {
            background-color: $defRed;
            transform: rotate(45deg);
        }
    
        &:hover::before {
            background-color: $defBlue;
            transform: rotate(-45deg);
        }
    
        &::after {
            background-color: $defBlue;
            transform: rotate(-45deg);
        }
    
        &:hover::after {
            background-color: $defRed;
            transform: rotate(45deg);
        }
    }
    
    .modal-resize {
        height: 40px;
        width: 20px;
        border-top: 5px solid $defRed;
        border-bottom: 5px solid $defRed;
        border-left: 5px solid $defBlue;
        border-right: 5px solid $defBlue;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            transform: rotate(90deg);
        }
    }

    #active-modal-resize {
        transform: rotate(90deg);
    }
}