.modal-x {
    @include add-flex;
    height: 50px;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 300ms;

    &::before,
    &::after {
        content: "";
        display: block;
        height: 5px;
        width: 100%;
        position: absolute;
        transition: 300ms;
    }

    &::before {
        background-color: $defRed;
        transform: rotate(45deg);
    }

    &:hover::before {
        background-color: $defBlue;
        transform: rotate(-45deg);
    }

    &::after {
        background-color: $defBlue;
        transform: rotate(-45deg);
    }

    &:hover::after {
        background-color: $defRed;
        transform: rotate(45deg);
    }
}