nav {
    @include add-flex(row, space-between);
    height: 65px;
    width: 100%;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 10px gray;
    position: fixed;
    top: 0;
    padding: 3px;
    z-index: 10;
    
    @include interactive-title(40px);

    a {
        text-decoration: none;
        cursor: pointer;

        .interactive-title {
            margin-left: 10px;
        }
    }

    .button-holder {
        @include add-flex;
        gap: 5px;
        margin-right: 15px;

        a {
            color: $defDarkGrey;
            text-align: center;
            font-size: 22px;
            text-transform: capitalize;
            text-decoration: none;
            position: relative;
            top: 0;
            padding: 12px;
            transition: 300ms;

            &:hover {
                background-color: rgba(129, 129, 129, 0.4);
                border-radius: 15px;
            }
        }

        #current-page {
            font-weight: bold;
        }
    }
}

#exercises-nav {
    position: relative;
    background-color: white;
    border-bottom: 1px solid black;
    backdrop-filter: none;
    box-shadow: none;
}