nav {
    @include add-flex(row, space-between);
    height: 50px;
    width: 100%;
    user-select: none;
    background-color: transparent;
    backdrop-filter: $defBlurFilter;
    box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.1);
    position: fixed;
    top: 0;
    padding: 3px;
    transition: 500ms;
    z-index: 10;
    
    @include interactive-title(30px);

    a {
        text-decoration: none;
        cursor: pointer;

        .interactive-title {
            margin-left: 15px;
        }
    }

    .button-holder {
        @include add-flex;
        gap: 5px;
        margin-right: 15px;

        a {
            @include add-flex;
            gap: 10px;
            text-decoration: none;
            border-radius: 10px;
            padding: 10px;
            transition: 300ms;

            &:hover {
                background-color: rgba(129, 129, 129, 0.4);
                border-radius: 20px;
            }

            img {
                height: 25px;
                width: 25px;
                object-fit: contain;
            }

            p {
                color: $defDarkGrey;
                text-align: center;
                font-size: 18px;
                text-transform: capitalize;
                margin: 0;
            }
        }

        #current-page {
            font-weight: bold;
        }
    }
}