.notes {
    @include add-flex(column, flex-start);
    max-height: 200px;
    width: 50%;
    background-color: white;
    border: 2px solid $defLightGrey;
    border-radius: 20px;
    box-shadow: $defLighterShadow;
    position: relative;
    overflow: auto;

    .notes-title {
        @include add-flex(row, flex-start);
        gap: 5px;
        width: 100%;
        position: relative;
        padding: 5px 15px;
        
        img {
            height: 20px;
            width: 20px;
            object-fit: contain;
        }
        
        strong {
            color: $defDarkGrey;
            font-size: set-size(md);
            text-transform: capitalize;
        }

        .add-note {
            height: 30px;
            width: 30px;
            object-fit: contain;
            border: 2px solid $defLightGrey;
            border-radius: 50%;
            box-shadow: $defLighterShadow;
            cursor: pointer;
            pointer-events: all;
            position: absolute;
            right: 5px;
        }
    }
    
    .notes-holder {
        @include add-flex(column);
        gap: 5px;
        width: 100%;
        padding: 10px 15px;
        padding-top: 0;

        .note {
            @include add-flex(row, flex-start);
            gap: 10px;
            width: 100%;
            text-decoration: none;
            background-color: white;
            border: 2px solid $defLightGrey;
            border-radius: 20px;
            box-shadow: $defLighterShadow;
            cursor: pointer;
            padding: 5px 10px;
            transition: 300ms;

            &:hover {
                border: 2px solid $defGrey;
                box-shadow: $defLightShadow;
            }

            img {
                height: 30px;
                width: 30px;
                object-fit: contain;
                position: relative;
                left: 0;
                transition: 300ms;
            }

            &:hover img {
                left: 15px;
            }

            p {
                color: $defDarkGrey;
                font-size: set-size(lg);
                position: relative;
                left: 0;
                margin: 0;
                transition: 300ms;
            }

            &:hover p {
                left: 15px;
            }
        }

        span {
            color: $defGrey;
            font-size: set-size(md);
            font-style: italic;
        }
    }

    .scrollbar {
        right: 0;
    }
}

.note-modal {
    @include add-flex(column);
    gap: 15px;
    width: 30%;
    background-color: white;
    border: 2px solid $defLightGrey;
    border-radius: 20px;
    box-shadow: $defLighterShadow;
    opacity: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    z-index: 10;
    transition: 300ms;

    .modal-options img {
        height: 30px;
        width: 30px;
    }

    .note-modal-title {
        @include add-flex;
        gap: 10px;
        margin-top: 15px;

        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
        }
        
        h3 {
            color: $defDarkGrey;
            font-size: set-size(xxl);
            text-transform: capitalize;
        }
    }

    form {
        @include add-flex(column);
        gap: 20px;
        width: 100%;

        fieldset {
            @include add-flex(column);
            gap: 5px;
            width: 90%;
            border: none;

            label {
                width: 100%;
                font-size: 17px;
                color: $defGrey;
                text-transform: capitalize;
                font-weight: bold;
            }
            
            input, textarea {
                width: 100%;
                color: $defDarkGrey;
                font-size: set-size(md);
                outline: none;
                padding: 3px 5px;
                transition: 300ms;

                &:hover {
                    border: 2px solid $defGrey;
                }

                &:focus {
                    border: 2px solid $defGrey;
                    box-shadow: $defLighterShadow;
                }
            }
            
            input {
                border: 2px solid transparent;
                border-bottom: 2px solid $defLightGrey;
            }

            textarea {
                border: 2px solid $defLightGrey;
                resize: none;
            }
        }

        @include classic-button;
    }

    .content-holder {
        max-height: 400px;
        position: relative;
        overflow: auto;
        
        p {
            color: $defDarkGrey;
            font-size: 17px;
            position: relative;
            padding: 15px;
            padding-top: 0;
        }

        .scrollbar {
            right: 0;
        }
    }
}

.active-note-modal {
    opacity: 1;
    top: 50%;
}