.notes {
    @include add-flex(column);
    width: 50%;
    background-color: white;
    border: 2px solid $defLightGrey;
    border-radius: 20px;
    box-shadow: $defLighterShadow;
    position: relative;

    .notes-title {
        @include add-flex(row, flex-start);
        gap: 5px;
        width: 100%;
        position: relative;
        padding: 5px 15px;
        
        img {
            height: 20px;
            width: 20px;
            object-fit: contain;
        }
        
        strong {
            color: $defDarkGrey;
            font-size: set-size(md);
            text-transform: capitalize;
        }

        .add-note {
            height: 30px;
            width: 30px;
            object-fit: contain;
            border: 2px solid $defLightGrey;
            border-radius: 50%;
            box-shadow: $defLighterShadow;
            cursor: pointer;
            pointer-events: all;
            position: absolute;
            right: 5px;
        }
    }
    
    .notes-holder {
        @include add-flex(column, flex-start);
        gap: 5px;
        max-height: 170px;
        width: 100%;
        position: relative;
        padding: 10px 15px;
        padding-top: 0;
        overflow: auto;

        .note {
            @include add-flex(row, flex-start);
            gap: 10px;
            width: 100%;
            text-decoration: none;
            background-color: white;
            border: 2px solid $defLightGrey;
            border-radius: 20px;
            box-shadow: $defLighterShadow;
            cursor: pointer;
            position: relative;
            padding: 5px 10px;
            transition: 300ms;

            &:hover {
                border: 2px solid $defGrey;
                box-shadow: $defLightShadow;
            }

            img {
                height: 30px;
                width: 30px;
                object-fit: contain;
                position: relative;
                left: 0;
                transition: 300ms;
            }

            &:hover img {
                left: 15px;
            }

            p {
                color: $defDarkGrey;
                font-size: set-size(lg);
                position: relative;
                left: 0;
                margin: 0;
                transition: 300ms;
            }

            &:hover p {
                left: 15px;
            }

            .note-check {
                @include add-flex;
                height: 25px;
                width: 25px;
                background-color: transparent;
                border: 2px solid $defLightGrey;
                border-radius: 5px;
                box-shadow: $defLighterShadow;
                opacity: 0;
                position: absolute;
                right: 0;
                transition: 300ms;

                img {
                    height: 0;
                    width: 0;
                    opacity: 0;
                    transition: 150ms;
                }
            }

            &:hover .note-check {
                opacity: 1;
                right: 10px;

                img {
                    left: auto;
                }
            }

            .active-note-check {
                opacity: 1;
                right: 10px;

                img {
                    left: auto;
                }

                .active-note-check-img {
                    height: 35px;
                    width: 35px;
                    opacity: 1;
                }
            }
        }

        span {
            color: $defGrey;
            font-size: set-size(md);
            font-style: italic;
        }

        .scrollbar {
            right: 0;
        }
    }

    .notes-dashboard {
        @include add-flex;
        height: 0;
        width: 100%;
        border-top: 2px solid $defLightGrey;
        transition: 300ms;
        overflow: hidden;

        button {
            @include add-flex;
            gap: 10px;
            width: 50%;
            background-color: white;
            border: 2px solid $defLightGrey;
            border-radius: 20px;
            box-shadow: $defLighterShadow;
            cursor: pointer;
            margin: 10px;
            padding: 5px;
            transition: 300ms;

            &:first-child {
                margin-right: 5px;
            }

            &:last-child {
                margin-left: 5px;
            }

            &:hover {
                border: 2px solid $defGrey;
                box-shadow: $defLightShadow;
            }

            img {
                height: 25px;
                width: 25px;
                object-fit: contain;
            }

            p {
                color: $defDarkGrey;
                font-size: set-size(md);
                text-transform: capitalize;
            }
        }
    }
}

.note-modal,
.note-icon-modal {
    @include add-flex(column);
    gap: 15px;
    width: 30%;
    background-color: white;
    border: 2px solid $defLightGrey;
    border-radius: 20px;
    box-shadow: $defLighterShadow;
    opacity: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
    z-index: 4;

    .modal-options img {
        height: 30px;
        width: 30px;
    }

    .note-options-modal {
        @include add-flex(column);
        width: 55%;
        background-color: white;
        border: 2px solid $defLightGrey;
        border-radius: 20px;
        box-shadow: $defLighterShadow;
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 300ms;
        overflow: hidden;

        button {
            @include add-flex(row, flex-start);
            gap: 15px;
            width: 100%;
            background-color: white;
            border: none;
            border-bottom: 2px solid $defLightGrey;
            cursor: pointer;
            padding: 10px 15px;

            &:last-child {
                border-bottom: none;
            }

            img {
                height: 30px;
                width: 30px;
                object-fit: contain;
                position: relative;
                left: 0;
                transition: 300ms;
            }

            &:hover img {
                left: 15px;
            }

            p {
                color: $defDarkGrey;
                font-size: set-size(lg);
                text-transform: capitalize;
                position: relative;
                left: 0;
                transition: 300ms;
            }

            &:hover p {
                left: 15px;
            }
        }
    }

    .active-note-options-modal {
        opacity: 1;
        top: 50%;
    }

    .note-modal-title {
        @include add-flex;
        gap: 10px;
        margin: 30px 15px 0 15px;

        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
        }
        
        h3 {
            color: $defDarkGrey;
            font-size: set-size(xxl);
        }
    }

    form {
        @include add-flex(column);
        gap: 20px;
        width: 100%;
        margin: 0 15px 15px 15px;

        fieldset {
            @include add-flex(column);
            gap: 5px;
            width: 90%;
            border: none;

            label {
                width: 100%;
                font-size: 17px;
                color: $defGrey;
                text-transform: capitalize;
                font-weight: bold;
            }
            
            input, textarea {
                width: 100%;
                color: $defDarkGrey;
                font-size: set-size(md);
                outline: none;
                padding: 3px 5px;
                transition: 300ms;

                &:hover {
                    border: 2px solid $defGrey;
                }

                &:focus {
                    border: 2px solid $defGrey;
                    box-shadow: $defLighterShadow;
                }
            }
            
            input {
                border: 2px solid transparent;
                border-bottom: 2px solid $defLightGrey;
            
                &:hover,
                &:focus {
                    border-radius: 10px;
                }
            }

            textarea {
                border: 2px solid $defLightGrey;
                border-radius: 10px;
                resize: none;
            }
        }

        .icon-fieldset {
            @include add-flex(row, flex-start);
            gap: 10px;

            label {
                width: auto;
            }
            
            .icons-holder {
                @include add-flex;
                height: 50px;
                width: 50px;
                border: 1px solid $defLightGrey;
                border-radius: 20px;
                box-shadow: $defLighterShadow;
                padding: 0 10px;
                transition: 300ms;
                overflow: hidden;

                &:hover {
                    border: 1px solid $defGrey;
                    box-shadow: $defLightShadow;
                }
                
                .icons-list {
                    @include add-flex;
                    height: 50px;
                    position: relative;

                    img {
                        height: 30px;
                        width: 30px;
                        object-fit: contain;
                        cursor: pointer;
                        pointer-events: all;
                        position: absolute;
                        left: 0;
                        transition: 500ms;
                    }
                }
            }
        }

        @include classic-button;
    }

    .content-holder {
        max-height: 400px;
        margin: 0 15px 15px 15px;
        position: relative;
        overflow: auto;
        
        p {
            color: $defDarkGrey;
            font-size: set-size(md);
            white-space: break-spaces;
            position: relative;
            padding: 15px;
            padding-top: 0;
        }

        .scrollbar {
            right: 0;
        }
    }
}

.active-note-modal {
    opacity: 1;
    top: 50%;
}

.edit-note-modal {
    height: 0;
    overflow: hidden;
}

.note-icon-modal {
    @include add-flex(column);
    width: 80%;
    padding: 15px;

    .note-icon-modal-title {
        @include add-flex(row);
        gap: 10px;

        img {
            height: 30px;
            width: 30px;
            object-fit: contain;
        }

        h4 {
            color: $defDarkGrey;
            font-size: set-size(lg);
            text-transform: capitalize;
        }
    }

    .upload-holder {
        @include add-flex;
        height: 120px;
        width: 90%;
        border: 3px dashed $defLightGrey;
        border-radius: 20px;
        box-shadow: $defLighterShadow;
        position: relative;
        transition: 300ms;
        overflow: hidden;

        .upload-image-input {
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
            position: absolute;
            z-index: 2;
        }
        
        .img-holder {
            @include add-flex;
            background-color: white;
            border: 1px solid $defLightGrey;
            border-radius: 50%;
            box-shadow: $defLighterShadow;
            z-index: 1;
            
            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                object-fit: contain;
                transition: 300ms;
            }
        }

        .img-circle {
            height: 50px;
            width: 50px;
            background-color: $defGrey;
            border-radius: 50%;
            box-shadow: $defLightShadow;
            position: absolute;
            transition: 600ms;
        }
    }

    .active-upload-holder {
        border: 3px solid $defGrey;
        box-shadow: $defLightShadow;
        
        .img-holder img {
            height: 70px;
            width: 70px;
        }

        #img-circle-1 {
            height: 160px;
            width: 160px;
            background-color: $defLighterRed
        }

        #img-circle-2 {
            height: 130px;
            width: 130px;
            background-color: $defLighterBlue;
        }

        #img-circle-3 {
            height: 100px;
            width: 100px;
            background-color: white;
        }
    }

    @include classic-button;

    button {
        font-size: set-size(md);
    }
}