.scrollbar {
    @include add-flex;
    height: 70%;
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-right: 5px;
    padding: 20px 0;
    z-index: 95;

    .scrollbar-line {
        @include add-flex(row, center, flex-start);
        height: 100%;
        width: 3px;
        background-color: $defLightGrey;
        border-radius: 20px;
        position: relative;
        transition: background-color .3s;

        &:hover {
            background-color: $defGrey;
        }

        button {
            width: 10px;
            background: $defBlue;
            border: none;
            border-radius: 15px;
            position: absolute;
            transition: background .2s, width .2s;

            &:hover, &:focus {
                background: $defLighterBlue;
                width: 15px;
            }
        }
    }
}