.exercise-holder {
    @include add-flex;
    width: 100%;
    position: relative;

    @include exercise;

    .exercise {
        z-index: 1;
    }
    
    .exercise-title {
        @include add-flex(row, flex-start);
        gap: 10px;
        height: 60px;
        min-width: 250px;
        max-width: 350px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border: none;
        border-radius: 30px;
        box-shadow: $defLightShadow;
        position: absolute;
        right: 55px;
        padding: 5px 10px;
        user-select: none;
        transition: 300ms;

        .exercise-difficulty {
            height: 20px;
            width: 20px;
            border: none;
            border-radius: 50%;
            background: $defRed;
            position: relative;
            left: 50px;
        }

        p {
            color: $defDarkGrey;
            font-size: set-size(lg);
            font-weight: bold;
            position: relative;
            left: 50px;
            margin: 0;

            mark {
                color: white;
                background-color: $defLighterBlue;
            }
        }
    }

    .active-exercise-title {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        box-shadow: $defShadow;
        right: 40px;
    }
}

#active-exercise-holder {
    .exercise {
        cursor: default;

        .exercise-border {
            background: $defLightRedBlueWhite;
            transform: rotate(360deg);
        }
        
        .exercise-content {
            height: 155px;
            width: 155px;
        }
    }

    .exercise-title {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        box-shadow: $defShadow;
        right: 40px;
    }
}

#exercise-holder-error .exercise {
    background: $defGreyGradient;
    cursor: default;
    
    &:hover {
        transform: rotate(0);
    }

    &:hover .exercise-content {
        height: 165px;
        width: 165px;
        transform: rotate(0);
    }
}