#lessons {
    height: 100vh;
    background-image: url("../images/background.png");
    position: relative;
    padding-top: 65px;
    overflow: auto;
}

@import "./lesson-modal/main";

main {
    @include add-flex(row, center, flex-start);
    min-height: 100%;
    position: relative;

    section {
        @include add-flex(column, flex-start);
    }

    @import "./lessons-holder";
    @import "./lessons-info";
}