/*Nunito font implementation*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

:root {
    --defRed: #df1c3d;
    --defLightRed: #f2072f;
    --defGlowingRed: 0px 0px 15px rgba(247,72,101,0.5);
    --defBlue: #144eba;
    --defLightBlue: #0559f5;
    --defGlowingBlue: 0px 0px 15px rgba(82,138,242,0.5);
    --defRedBlue: linear-gradient(135deg, var(--defRed) 35%, var(--defBlue) 65%);
    --defBlueRed: linear-gradient(135deg, var(--defBlue) 35%, var(--defRed) 65%);
    --defDarkGrey: #3c3c3c;
    --defGreen: #0fff03;
    --defYellow: #ffe603;
}

/*General style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, Calibri;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    border-left: 1px solid var(--defBlue);
}

::-webkit-scrollbar-thumb {
    background: var(--defRed);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--defLightRed);
}

/*Selected text style*/
::selection {
    color: white;
    background-color: rgb(72, 138, 158, 0.5);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}