.exercise-modal-content {
    @include add-flex(column, flex-start);
    width: 80%;
    position: relative;
    left: 0;
    margin-top: 10px;
    transition: 300ms;
    
    h1 {
        font-size: set-size(miniheading);
    }

    h2 {
        font-size: set-size(xxl);
    }

    h3 {
        font-size: set-size(xl);
    }

    h4 {
        font-size: set-size(lg);
    }
    
    p {
        color: $defDarkGrey;
        font-size: set-size(md);
    }

    @include wide-button;

    .wide-button {
        width: 100%;
        position: sticky;
        bottom: 15px;

        &:hover {
            box-shadow: $defShadow;
        }
    }
}

.started-exercise-modal-content {
    opacity: 0;
    left: -20px;
}

#extended-exercise-modal-content {
    height: 100%;

    button {
        position: absolute;
        bottom: 0;
    }
}