.exercise-modal {
    @include add-flex(column, flex-start);
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0;
    position: fixed;
    bottom: -100%;
    transition: 500ms;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;

    .exercise-modal-title {
        @include add-flex;
        gap: 20px;
        margin: 20px 0px 10px 0px;
        position: relative;
        top: 0;
        transition: 300ms;

        @include interactive-title(70px);
        @include exercise;
    }

    .disabled-exercise-modal-title {
        opacity: 0;
        top: -10px;
    }

    @import "./content";
    @import "./task";
    @import "./finished";
    @import "./review/main";
}

#active-exercise-modal {
    opacity: 1;
    bottom: 0;
}

#full-screen-exercise-modal {
    width: 100%;
    left: 0;
}