.task-lives {
    @include add-flex;
    gap: 5px;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: 10px;
    transition: 300ms;

    img {
        height: 35px;
        width: 35px;
        object-fit: contain;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }
}

.active-task-lives {
    opacity: 1;
    top: 10px;
}

.task-progress-bar-holder {
    @include add-flex;
    width: 70%;
    opacity: 0;
    position: relative;
    top: 0;
    transition: 300ms;
    
    .task-progress-bar {
        @include add-flex;
        height: 25px;
        width: 100%;
        background-color: white;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 20px;
        box-shadow: $defLighterShadow;
        position: relative;
        overflow: hidden;
    
        .progress-bar-line {
            height: 100%;
            width: 0;
            background-color: $defLightBlue;
            border-radius: 20px;
            box-shadow: 10px 0 0 $defLightRed;
            position: absolute;
            left: 0;
            transition: 500ms;
        }
    }

    p {
        color: $defBlue;
        font-size: set-size(md);
        font-weight: bold;
        opacity: 0;
        position: absolute;
        top: -100%;
        margin: 0;
        transform: translateX(-50%);
        transition: 300ms;
    }
}

.active-task-progress-bar-holder {
    opacity: 1;
    top: 10%;
}

.exercise-modal-task {
    @include add-flex(column, center);
    width: 100%;
    opacity: 0;
    position: relative;
    left: 20px;
    transition: 300ms;
    overflow: hidden;
    
    h3 {
        color: $defDarkGrey;
        font-size: set-size(xxl);
        text-align: center;
    }

    .task-holder {
        @include add-flex;
        width: 100%;
        
        .multiple-choice-holder {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: 100%;
            max-width: 660px;
            margin: 20px 0;

            .multiple-choice-button {
                @include add-flex(column);
                height: 100%;
                width: 100%;
                max-width: 330px;
                color: $defDarkGrey;
                font-size: set-size(lg);
                background: white;
                border: 1px solid $defDarkGrey;
                border-radius: 20px;
                cursor: pointer;
                position: relative;
                top: 0;
                margin: 0 auto;
                padding: 5px 10px;
                transition: 300ms;
                
                &:hover {
                    border: 1px solid transparent;
                    box-shadow: $defRedBlueShadow;
                }

                span {
                    height: 35px;
                    width: 35px;
                    color: $defDarkGrey;
                    font-size: set-size(md);
                    line-height: 1.25;
                    border: 1px solid $defDarkGrey;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    padding: 5px;
                }

                img {
                    height: 140px;
                    width: 140px;
                    object-fit: contain;
                }

                p {
                    color: $defDarkGrey;
                    font-size: set-size(lg);
                }
            }

            .active-multiple-choice-button {
                animation: rotate-box-shadow 300ms linear forwards;

                @keyframes rotate-box-shadow {
                    0% {
                        box-shadow: -3px -3px 5px 1px $defRed, 3px 3px 5px 1px $defBlue;
                    }

                    50% {
                        box-shadow: 3px -3px 5px 1px $defRed, -3px 3px 5px 1px $defBlue;
                    }

                    100% {
                        box-shadow: 3px 3px 5px 1px $defRed, -3px -3px 5px 1px $defBlue;
                    }
                }
            }

            .disabled-multiple-choice-button {
                cursor: default;
                opacity: 0.5;

                &:hover {
                    border: 1px solid $defDarkGrey;
                    box-shadow: none;
                }
            }

            .multiple-choice-images-button {
                width: auto;
            }
        }

        .multiple-choice-images-holder {
            width: auto;
        }

        .translate-holder {
            @include add-flex(column);
            width: 80%;
            gap: 20px;
            margin: 15px 0;

            & > p {
                color: $defDarkGrey;
                font-size: set-size(lg);
                border: 1px solid $defDarkGrey;
                border-radius: 20px;
                position: relative;
                padding: 10px 15px;

                span {
                    border-bottom: 3px dotted $defGrey;
                    cursor: pointer;
                    position: relative;
                    transition: 300ms;

                    .word-translation-holder {
                        @include add-flex;
                        background-color: $defDarkGrey;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 75% 90%, 50% 100%, 25% 90%, 0 90%);
                        opacity: 0;
                        position: absolute;
                        top: calc(-100% - 15px);
                        left: 50%;
                        padding: 3px;
                        transform: translateX(-50%);
                        transition: 300ms;
                        
                        .word-translation {
                            background-color: white;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 75% 90%, 50% 100%, 25% 90%, 0 90%);

                            p {
                                color: $defDarkGrey;
                                font-size: set-size(md);
                                padding: 5px;
                            }
                        }
                    }

                    .active-word-translation-holder {
                        opacity: 1;
                        top: calc(-100% - 8px);
                    }
                }
            }

            textarea {
                width: 80%;
                color: $defDarkGrey;
                font-size: set-size(lg);
                border: 3px dashed $defGrey;
                border-radius: 20px;
                box-shadow: $defLighterShadow;
                outline: none;
                resize: none;
                padding: 10px 15px;
                transition: 300ms;

                &:hover {
                    border: 3px dashed $defDarkGrey;
                }

                &:focus {
                    border: 3px solid $defDarkGrey;
                    border-radius: 20px;
                    box-shadow: $defLightShadow;
                }
            }

            .button-holder {
                @include add-flex(row, flex-start);
                gap: 20px;
                width: 80%;

                div {
                    @include add-flex;
                    gap: 5px;

                    button {
                        height: 35px;
                        width: 35px;
                        color: $defDarkGrey;
                        font-size: set-size(sm);
                        background-color: transparent;
                        border: 1px solid $defGrey;
                        border-radius: 5px;
                        cursor: pointer;
                        position: relative;
                        top: 0;
                        padding: 5px 10px;
                        transition: 300ms;

                        &:hover {
                            border: 1px solid $defDarkGrey;
                            top: -5px;
                            box-shadow: $defLighterShadow;
                        }
                    }
                }

                .button-holder-letters {
                    width: 200px;
                }
            }
        }
    }

    @include flag-button;

    .flag-button {
        width: 80%;
        position: absolute;
        bottom: -100px;
        margin: 0;

        &:hover {
            box-shadow: $defShadow;
        }
    }

    .task-info {
        @include add-flex(row, flex-start);
        gap: 15px;
        width: 80%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        box-shadow: $defShadow;
        position: absolute;
        bottom: -100px;
        padding: 10px 20px;
        transition: 300ms;

        & > img {
            height: 70px;
            width: 70px;
            object-fit: contain;
            filter: invert(1);
        }
        
        .task-info-text {
            @include add-flex(column, center, flex-start);
            
            h4 {
                color: white;
                font-size: set-size(xl);
                text-transform: capitalize;
            }
    
            p {
                color: white;
                font-size: set-size(md);
                margin: 0;

                span {
                    font-weight: bold;
                }
            }
        }

        .arrow-button {
            height: 70px;
            width: 70px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%) rotate(-90deg);

            img {
                height: 40px;
            }
        }
    }
}

.active-exercise-modal-task {
    opacity: 1;
    left: 0;

    .flag-button {
        bottom: 5px;
    }
}

#extended-exercise-modal-task {
    height: 100%;

    .task-info {
        position: absolute;
    }
}