.classic-modal {
    @include add-flex(column);
    gap: 30px;
    width: 700px;
    box-shadow: $defLightShadow;
    opacity: 0;
    position: fixed;
    top: 45%;
    left: 50%;
    padding: 10px 15px;
    transform: translate(-50%, -50%);
    transition: opacity 300ms, top 300ms;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: $defBlurFilter;
    border-radius: 40px;
    padding: 50px;
    user-select: none;
    z-index: 5;

    strong {
        color: $defDarkGrey;
        font-size: set-size(xl);
        text-align: center;
    }

    .button-holder {
        @include add-flex;
        gap: 50px;
        width: 80%;

        @include classic-button;

        button {
            width: 100%;
            border-radius: 20px;
            margin: 0;
            background-color: rgba(230, 230, 230, 0.3);
            border-color: rgb(200, 200, 200);
            color: rgb(80, 80, 80);
        }

        & > button:first-child {
            background-color: rgba(139, 230, 121, 0.3);
        
            &:hover {
                background-color: rgba(0, 255, 21, 0.5);
                border: rgba(0, 255, 21, 0.5);
            }
        }

        & > button:last-child {
            background-color: rgba(230, 121, 121, 0.3);
        
            &:hover {
                background-color: rgba(255, 0, 0, 0.5);
                border: rgba(255, 0, 0, 0.5);
            }
        }
    }
}

.active-classic-modal {
    opacity: 1;
    top: 50%;
}